.Search-Imdb {
  margin-top: 4rem;
  text-align: center;
  input {
    margin-right: 1rem;
    background: transparent;
    color: var(--text-color);
    border: 1px solid var(--text-color);
  }
  button {
    background: rgba(100, 100, 100, 0.2);
    color: var(--text-color);
  }
  button:hover {
    background: rgba(100, 100, 100, 0.5);
  }
}
