body {
  background-color: var(--bg-color);
  margin: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--main-font);
  color: var(--text-color);
}

.main-title {
  font-size: 3em;
  font-weight: 900;
  margin-bottom: 0;
  a {
    color: var(--text-color);
    text-decoration: none;
  }
}

.main-subtitle {
  font-weight: 100;
  margin-top: 0;
}

.form {
  float: right;
}
